body {
    height: 1000px;
    border: solid 1px;
}
h1 {
    background-color: grey;
    height: 10%;
    
}

.sec {
    height: 18%;
    overflow: auto;
    zoom: 1;
}

.sec h3 {
    text-align: center;
    float:left;
    height: 100%;
    background-color: lightgray;
    width: 10%;
    padding-top: 50px;
}